<main class="holder contacto">
        <div>
            <h2>Contacto Rapido</h2>
            <form action="/contacto" method="post" class="formulario"><!--modificado-->
                <p>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre"><!--modificado-->
                </p>
                <p>
                    <label for="email">e-mail</label>
                    <input type="text" name="email"><!--modificado-->
                </p>
                <p>
                    <label for="telefono">telefono</label>
                    <input type="text" name="telefono"><!--modificado-->
                </p>
                <p>
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje"></textarea><!--modificado-->
                </p>
                <p class="acciones"><input type="submit" value="Enviar"/>
                </p>
             </form>
             {{message}}
        </div>
        <div class="dato">
            <h2>Otras vias de comunicacion</h2>
            <p>Tambien puede comunicarse con nosotros usando los siguientes medios</p>
            <ul>
                <li>Telefono: 45634420</li>
                <li>Email: contacto@tranportesx.com.ar</li>
                <li>Facebook</li>
                <li>Twiter</li>
                <li>Skype</li>
            </ul>
        </div>
</main>