<main class="holder">
        <div class="homeimg">
            <img src="/images/home/img01.jpg" alt=""><!--se modifico-->
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis pariatur totam eos est. Eum illum
                    saepe beatae consectetur rem ab voluptatem voluptatum numquam porro, aspernatur nisi accusamus
                    dolores omnis magni!F</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus sit quidem ex cum, assumenda
                    officiis consequatur nam maxime nesciunt harum non omnis alias voluptatum sint nulla beatae
                    accusamus quaerat enim.</p>
            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente excelente</span>
                    <span class="autor">Aaron agustin - raquetas.com</span>
                </div>
            </div>
        </div>
    </main>
