<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quaerat molestias id saepe,
                recusandae dolorum aspernatur unde laudantium aliquam excepturi, earum officiis. Architecto, rerum quam.
                Sequi culpa ea dolor neque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut officia corporis nisi minus tempora, est
                excepturi ad maxime neque explicabo dolore quibusdam illum aliquam vitae quia eius, sapiente earum
                nihil?</p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="/images/nosotros/nosotros1.jpg" alt="juan gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error repellendus quos earum atque
                        repudiandae, impedit placeat aut iste corporis odio inventore culpa nostrum qui vitae fugiat,
                        assumenda dolor quibusdam velit.</p>
                </div>
                <div class="persona">
                    <img src="/images/nosotros/nosotros2.jpg" alt="Diana Reyes">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error repellendus quos earum atque
                        repudiandae, impedit placeat aut iste corporis odio inventore culpa nostrum qui vitae fugiat,
                        assumenda dolor quibusdam velit.</p>
                </div>
                <div class="persona">
                    <img src="/images/nosotros/nosotros3.jpg" alt="Roberto Zaptos">
                    <h5>Roberto Zaptos</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error repellendus quos earum atque
                        repudiandae, impedit placeat aut iste corporis odio inventore culpa nostrum qui vitae fugiat,
                        assumenda dolor quibusdam velit.</p>
                </div>
                <div class="persona">
                    <img src="/images/nosotros/nosotros4.jpg" alt="Sandra Mastropiero">
                    <h5>Sandra Mastropieroz</h5>
                    <h6>Gerente de Marketingl</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error repellendus quos earum atque
                        repudiandae, impedit placeat aut iste corporis odio inventore culpa nostrum qui vitae fugiat,
                        assumenda dolor quibusdam velit.</p>
                </div>
                <div class="persona">
                    <img src="/images/nosotros/nosotros5.jpg" alt="Luciano Figuero">
                    <h5>Luciano Figuero</h5>
                    <h6>Gerente Logistica</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error repellendus quos earum atque
                        repudiandae, impedit placeat aut iste corporis odio inventore culpa nostrum qui vitae fugiat,
                        assumenda dolor quibusdam velit.</p>
                </div>
                
            </div>
        </div>
    </main>