<main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>Titiulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus corporis, a cupiditate exercitationem
                placeat earum adipisci, alias est harum cum rem similique nostrum autem aut fugit facilis maiores quam.
                Soluta.</p>
            <hr><!--Crea una LINEA horizontal, 'es un separador de contenido', 
                le van atributos en css como size, width y color-->
        </div>
        <div class="novedades">
            <h3>Titiulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus corporis, a cupiditate exercitationem
                placeat earum adipisci, alias est harum cum rem similique nostrum autem aut fugit facilis maiores quam.
                Soluta.</p>
            <hr><!--Crea una LINEA horizontal, 'es un separador de contenido', 
                le van atributos en css como size, width y color-->
        </div>
        <div class="novedades">
            <h3>Titiulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus corporis, a cupiditate exercitationem
                placeat earum adipisci, alias est harum cum rem similique nostrum autem aut fugit facilis maiores quam.
                Soluta.</p>
            <hr><!--Crea una LINEA horizontal, 'es un separador de contenido', 
                le van atributos en css como size, width y color-->
        </div>
    </main>